@font-face {
  font-family: 'SF Distant Galaxy';
  src: local('SF Distant Galaxy'), url(fonts/SF\ Distant\ Galaxy.ttf), format('ttf');
}

body {
  background: rgb(63,94,251);
  margin: 0;
  font-family: 'SF Distant Galaxy';
}

#heading {
  position: fixed;
  width: 100%;
  padding: 32px;
}

.border {
  background: linear-gradient(90deg, rgb(81, 142, 211), 90%, rgb(0, 9, 9));
  height: 2px;
  width: 80vw;
  margin-top: 4px;
}

h1 {
  color: rgb(0, 247, 255);
  text-shadow: 2px 2px #ff0000;  font-size: 4em;
  margin: 0px;
  font-weight: 100;
}

#progress-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress {
  font-size: 3em;
  color: white;
}